 <div class = "bground">
   <div class = "d-flex justify-content-center">
  <h1> Sign Up: </h1>
   </div>

   <div class = "row-6">
     <div class = " d-flex justify-content-center">
       <form>
         <div class="form-group ">
           <label for="Firstname">First Name</label>
           <input type="text" class="form-control text-left" id="Firstname" aria-describedby="FName" placeholder="Enter First Name">
         </div>
         <div class="form-group ">
           <label for="Lastname">Last Name</label>
           <input type="text" class="form-control text-left" id="Lastname" aria-describedby="LName" placeholder="Enter Last Name">
         </div>
         <div class="form-group ">
           <label for="email">Email</label>
           <input type="text" class="form-control text-left" id="email" aria-describedby="emailhelp" placeholder="Enter Email">
           <small id="emailhelp" class="form-text text-muted">We will not give your Email to third party organisations.</small>
         </div>
         <div class="form-group ">
           <label for="Userinput">Username</label>
           <input type="username" class="form-control text-left" id="Userinput" aria-describedby="userHelp" placeholder="Enter Username">
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">Password</label>
           <input type="password" class="form-control text-left " id="exampleInputPassword1" placeholder="Password">
         </div>
         <br>
         <button type="submit" class="btn btn-dark">Submit</button>
       </form>
     </div>

   </div>
   <br>
 </div>


