<div class="bground">
<!--<div class = "bground">-->


  <div class="d-flex justify-content-center">
    <!--<h1> Welcome to PicTex!-->
<br>
    <img class ="homelogo" src="assets/HomePageLogo.png">
    <!--</h1>-->
  </div>

  <div class="d-flex justify-content-center ">
    <div class="wrapper">
      <textarea class = "moveup" (ngModel)="role" id = "thetextarea" placeholder="Start your PicTex by Typing in here!"></textarea>
      <div class="d-flex justify-content-center">
         <button id="submitbutton" (click)="flickrandmove()" class="btn btn-dark">Submit</button>
        <!--<button id="test" (click)="processText()" class="btn btn-dark">test</button>-->

        <!--<input type="submit" id="submitbutton" value="Submit"  class="btn btn-dark">-->
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">

    <p>Or</p>
  </div>
  <div class="d-flex justify-content-center ml-5">
    <form>
      <div class="form-group ml-5">
        <label for="uploadedfile" class = "ml-3">Upload Your Own Image</label>
        <input type="file" multiple = "false" accept="image/*" class="form-control-file ml-1" id="uploadedfile" (change)="previewFile()">

      </div>
    </form>
  </div>

  <!--<input type="file" (change)="previewFile()" id="gg"><br>-->
  <!--<img src="" height="200" alt="Image preview...">-->
  <!--<img src="" id="testimg" height="200" alt="Image preview">-->

  <!--<button (click)="test()"> click me</button>-->
<br>
</div>
<!--</div>-->
