<div class = "bground">
  <h1 class="display-4">About Us</h1>
  <p class="lead"> This website is a University of Auckland Fourth Year Computer Systems Project.</p>
  <hr class="my-4">
  <p>Fourth year students Leighton Jonker and William Chao were interested in the power of text analysis, and so decided to create a website that allowed users to input whatever they are feeling, taking those words, extracting the important parts and using those important terms as search words for the Flickr API, returning the photos back to the user with the text on them so they can save their text on a photo of their choice. </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--<br><br><br><br><br>-->

<!--<div class="thumbcontainer">-->
<!--<div id="carousethumbs3" class="carousel slide ml-5 mb-5" data-ride="carousel">-->
  <!--<div class="carousel-inner">-->
    <!--<div class="carousel-item active">-->
      <!--<div class = "row-3">-->
      <!--<div class ="col">-->
        <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+01"></a>-->
        <!--<a data-target="#carousethumbs3" data-slide-to="1" class=" thumbnail mx-3"> <img id = "thumb1" src="http://placehold.it/100x80?text=Thumb+01"></a>-->

      <!--</div>-->
        <!--<br>-->
      <!--<div class ="col">-->
        <!--<a data-target="#carousethumbs3" data-slide-to="2" class = "thumbnail mx-3"> <img id = "thumb2" src="http://placehold.it/100x80?text=Thumb+02"></a>-->
        <!--<a data-target="#carousethumbs3" data-slide-to="3" class=" thumbnail mx-3"> <img id = "thumb3" src="http://placehold.it/100x80?text=Thumb+01"></a>-->

      <!--</div>-->
        <!--<br>-->
      <!--<div class ="col ">-->
        <!--<a data-target="#carousethumbs3"  data-slide-to="4" class = "thumbnail mx-3"> <img id = "thumb4" src="http://placehold.it/100x80?text=Thumb+03"></a>-->
        <!--<a data-target="#carousethumbs3" data-slide-to="5" class=" thumbnail mx-3"> <img id = "thumb5" src="http://placehold.it/100x80?text=Thumb+01"></a>-->

      <!--</div>-->
        <!--<br>-->
      <!--<div class ="col ">-->
        <!--<a data-target="#carousethumbs3" data-slide-to="6" class = "thumbnail mx-3"> <img id = "thumb6" src="http://placehold.it/100x80?text=Thumb+04"></a>-->
        <!--<a data-target="#carousethumbs3" data-slide-to="7" class=" thumbnail mx-3"> <img id = "thumb7" src="http://placehold.it/100x80?text=Thumb+01"></a>-->
      <!--</div>-->

        <!--<br>-->

        <!--<div class ="col">-->
          <!--<a data-target="#carousethumbs3" data-slide-to="8" class = "thumbnail mx-3"> <img id = "thumb8" src="http://placehold.it/100x80?text=Thumb+02"></a>-->
          <!--<a data-target="#carousethumbs3" data-slide-to="9" class=" thumbnail mx-3"> <img id = "thumb9" src="http://placehold.it/100x80?text=Thumb+01"></a>-->

        <!--</div>-->
     <!--&lt;!&ndash;/row&ndash;&gt;</div>-->
      <!--&lt;!&ndash;/item active&ndash;&gt;</div>-->

    <!--<div class="carousel-item">-->
      <!--<div class="row-3">-->
        <!--<div class ="col ">-->
          <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+05"></a>-->
          <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+05"></a>-->

        <!--</div>-->
        <!--<br>-->
        <!--<div class ="col ">-->
          <!--<a data-target="#carousethumbs3" data-slide-to="1" class = "thumbnail mx-3"> <img id = "thumb1" src="http://placehold.it/100x80?text=Thumb+06"></a>-->
          <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+05"></a>-->

        <!--</div>-->
        <!--<br>-->
        <!--<div class ="col ">-->
          <!--<a data-target="#carousethumbs3"  data-slide-to="2" class = "thumbnail mx-3"> <img id = "thumb2" src="http://placehold.it/100x80?text=Thumb+07"></a>-->
          <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+05"></a>-->

        <!--</div>-->
        <!--<br>-->
        <!--<div class ="col ">-->
          <!--<a data-target="#carousethumbs3" data-slide-to="3" class = "thumbnail mx-3"> <img id = "thumb3" src="http://placehold.it/100x80?text=Thumb+08"></a>-->
          <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+05"></a>-->

        <!--</div>-->
        <!--<br>-->

        <!--<div class ="col">-->
          <!--<a data-target="#carousethumbs3" data-slide-to="1" class = "thumbnail mx-3"> <img id = "thumb1" src="http://placehold.it/100x80?text=Thumb+02"></a>-->
          <!--<a data-target="#carousethumbs3" data-slide-to="0" class=" thumbnail mx-3"> <img id = "thumb0" src="http://placehold.it/100x80?text=Thumb+01"></a>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<a class="carousel-control-prev" href="#carousethumbs3" role="button" data-slide="prev">-->
    <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="carousel-control-next" href="#carousethumbs3" role="button" data-slide="next">-->
    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
  <!--</a>-->

  <!--</div>-->
<!--</div>-->




