h1{
  font-style: italic;
  color: crimson;
  font-size: 40px;
}
 p{
color: firebrick;
 }

.carousel-inner {
  margin: 0 auto;
}


.carocontainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
