<div class = "bground">
  <h1 class="display-4">About Us</h1>
  <p class="lead"> This website is a University of Auckland Fourth Year Computer Systems Project.</p>
  <hr class="my-4">
  <p>Fourth year students Leighton Jonker and William Chao were interested in the power of text analysis, and so decided to create a website that allowed users to input whatever they are feeling, taking those words, extracting the important parts and using those important terms as search words for the Flickr API, returning the photos back to the user with the text on them so they can save their text on a photo of their choice. </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

